.portfolio_home {
    display: flex;
    flex-direction: row;
    color: white;
    /* background color made by angry tools */
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4A4C50', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);
}

.portfolio_home {
    display: flex;
    justify-content: space-between;
}


.portfolio_home_avatar {
    margin: 40px;
    width: 80%;   
} 

/* .portfolio_home_avatar_pic {
    width: 1500px;
} */

.portfolio_home_about_me {
    margin: 50px 200px;
    margin-left: 0;
    padding: 50px; 
}

.portfolio_home_about_me_des {
    line-height: 1.5em;
    padding-right: 24px;
}

@media only screen and (max-width: 700px) {
    .portfolio_home {
        display: flex;
        flex-direction: column;         
    }
    .portfolio_home_avatar {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }
    .portfolio_home_about_me {
        margin: 0px;
        padding: 30px;
    }
} 