.main_body {
    color: white;
    /* background color made by angry tools */
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4A4C50', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(74, 76, 80, 0.98) 0%, rgba(0, 0, 0, 1) 100%);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 45vh;
}

.contact_image_size {
   height: 400px;
   width: 700px;
}

.contact_section {

}

@media only screen and (max-width: 700px) {}