.App-header {
    background-color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-size: calc(10px + 2vmin);
    color: black;
    height: 20vh;
}