.header {
    background-color: white;
    /* height: 15vh;
    min-height: 10vh; */
    font-size: calc(10px + 2vmin);
    color: black;
    padding: 2rem;
    padding-bottom: 1vh;
}

.header-title {
    color: inherit;
    text-decoration: inherit;
}

@media only screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
}