.App-header {
    background-color: white;
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
    color: black;
    height: 18vh;
    padding-top: 2rem;
}

.App-header-link {
    color: inherit;
    text-decoration: inherit;
}


