.navbar-link {
    display: flex;
    flex-direction: row;    
    margin: 0;
}

.navbar-link a {
    margin: 2rem;
    font-size: 13px;
    color: black;
}

.navbar-link a:hover {
    color:violet
}

@media only screen and (max-width: 768px) {
    .navbar-link {
        display: flex;
        justify-content: space-around;    
        padding: 0;
    }
}
