.navbar-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-link a {
    text-decoration: none;
    margin: 2rem;
    font-size: 13px;
    color: black;
}

.navbar-link a:hover {
    color:violet
}

